/*All html file*/

html {
    height: 100%;
 
}



/* responsive text queries */
@media screen and (max-width: 992px) {
    p,.btn,input,div,span,h4,video {
      font-size: 95%;
    }
    h1 {
      font-size: 24px;  
    }
    h2 {
      font-size: 22px;  
    }
    h3 {
      font-size: 18px;  
    }
  }
  
  @media screen and (max-width: 768px) {
    p,.btn,input,div,span,h4 {
      font-size: 90%;
    }
    h1 {
      font-size: 30px;  
    }
    h2 {
      font-size: 28px;  
    }
    h3 {
      font-size: 16px;  
    }
    h4 {
        font-size: 12px;
    }

    h5{
        font-size: 8px;
    }
  }

  @media screen and (max-width: 568px) {
    p,.btn,input,div,span,h4 {
      font-size: 90%;
    }
    h1 {
      font-size: 8px;  
    }
    h2 {
      font-size: 12px;  
    }
    h3 {
      font-size: 10px;  
    }
    h4 {
        font-size: 12px;
    }

    h5{
        font-size: 10px;
    }
  

  @include media-breakpoint-between(xs,md, xl) { 

  }

  @media print {
    .container {
      width: auto;
    }
}


/* Styles in all the pages*/


body {
    min-height: 100%;
    background-color: rgb(196, 209, 226);
    font-family: 'Lato', serif;
    font-size: 18px;
}

h1 {
    font-family: 'Lato', 'serif';
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: -50px;
}

h2 {
    padding-top: 100px;
    font-family: 'Lato', 'serif';
    font-size: 30px;
}

h3 {
    font-family: 'Lato', 'serif';
    font-size: 36px;
}

h4 {
    font-family: 'Lato', 'serif';
    font-size: 20px;
}

h5 {
    font-family: 'Lato', 'serif';
    font-size: 14px;
}

video{
 
    width: 600px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: -10px;
   
}

#coloredphrase{
    color: cadetblue;
    font-size: 80px;
}

/*Footer and its Icons*/
footer {
    font-family: 'Lato', 'serif';
    font-size: 14px;
    text-overflow: bottom;
}

         
/*Sections*/
#home {
    background-color: rgb(199, 220, 233);
    height: 95vh;
    padding-left: 50px;
    padding-right: 50px;
}

#about {
    background: #d3d3d3;
    height: 95vh;
    padding-left: 50px;
    padding-right: 50px;

}

#services {
    background:  rgb(199, 220, 233);
    height: 95vh;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: -15px;
   
   
}

#testimonials {
    background: #d3d3d3;
    height: 95vh;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 15px;
    margin-right: -15px;
}

#contact {
    background:  rgb(199, 220, 233);
    height: 95vh;
    padding-left: 50px;
    padding-right: 50px;  
    margin-left: 15px;
    margin-right: -15px;  
}


/* Navbar*/

container.navbar-brand {
    display: flex;
}

.container .navbar-brand>img {
    padding: 7px 14px;
}

#img {
    padding-top: 200px;
    text-align: center;
    
}


/*styling Home*/

#homeimg {
    padding-top: 100px;
}

#healthyimg{
    text-align: center;
    padding-right: 20px;
    padding-left: 35px;
    padding-top: 40px;
}

/*styling About Me Section*/

#paragraph {
 
    padding-top: 45px;
    padding-right: 120px;
    text-align: justify;
    
}


#video3 {
  padding-top: 100px;
}

.background:before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: 100% 100%;
    background-image: url('https://static.pexels.com/photos/685530/pexels-photo-685530.jpeg');
    width: 150%;
    height: 150%;
    top:-20px;
    left:-20px;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    background-repeat:no-repeat;
  }
  
  .content{
    height: 400px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: rgba(255, 255, 255, 0.596);
  -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
  }
  
  

/*Styling Services Section*/

#servicesimg {
    padding-top: 100px;
}

#servicesimg:hover {
    background-color: green;

}


/*Styling Testimonials Section*/

.row {
    padding-bottom: 100px;
    padding-top: 10px;
    padding-right: 10px;
}


/*Styling Contact Section*/
